body {
    background-color:white;
}

form {
    display: inline-block;
}

.addItem {
    background-color: lightgray;
    border: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-task {
    text-align: center;
}

h3 {
    text-align: center;
    margin-left: 10px;
    
}

#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}

.taskbar {
    padding-left: 50px;
}

.container-list-of-todos {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Indie Flower', cursive;
    color: black;
}

.uncompleted-tasks {
    text-align: center;
    padding-bottom: 25px;
}

.greenTick {
    color: green;
    border: solid;
}

.redBin {
    color: red;
    border: solid;
}

.reFresh {
    color: orange;
    border: solid;
}

.cross {
    color: blue;
    border: solid;
}

.hideCompleted {
    text-align: center;
}
@media (min-width: 576px) {

 }