body {
    background-color:yellow;
}

form {
    display: inline-block;
}

.container-task {
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 10px;
}

#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}

.container-list-of-todos {
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Indie Flower', cursive;
    color: black;
}

.uncompleted-tasks {
    text-align: center;
    padding-bottom: 25px;
}

@media (min-width: 576px) {

 }